* {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000!important;
  color: #FFFFFF!important;
}

#main {
  width: 85vw;
  height: 90vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  padding: 25px;
  background-image: linear-gradient(45deg, var(--primary-color), #000000, var(--secondary-color));
  animation: animatebg 20s ease infinite;
  background-size: 400% 400%;
  box-shadow: 1px 1px 10px;
}

.form-group .form-label {
  font-size: 12px;
}

.form-group input.form-control {
  height: 42px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
}

.form-group input:focus {
  outline: none!important;
  border-color: var(--primary-color);
  box-shadow: none;
}

.form-group input.form-control::placeholder {
  color: #b2b2b2;
}

.mt-5 {margin-top: 5px!important;}
.mt-10 {margin-top: 10px!important;}
.ml-10 {margin-left: 10px!important;}
.ml-5 {margin-left: 5px !important;}
.mr-5 {margin-right: 5px !important;}

.cursor-pointer{ cursor: pointer!important;}

.text-underline{text-decoration: underline;}

a{
  color: inherit!important;
}

.fade-in-animation {
  animation: fade-in 0.5s ease-in;
}

.grow-animation {
  animation: grow 1s ease-in;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}

.chat-list-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.chat-list-item:hover {
  font-weight: 600;
}

.hover-scale-inc:hover {
  transition: transform 0.4s;
  transform: scale(1.4);
}

.cursor-pointer {
  cursor: pointer;
}

/* web screens */
@media (width >= 500px) {
  .no-chat-selected-screen{display: flex!important;}
}
/* small screens */
@media (width < 500px) { 
  .no-chat-selected-screen {display: none!important;}
  #main{height: 100%; width: 100%; overflow: hidden auto;}
}

/* animation keywords */
@keyframes animatebg {
  0% {
		background-position: 0% 50%;
    box-shadow: 1px 1px 10px;
	}
	50% {
		background-position: 100% 50%;
    box-shadow: 1px 1px 20px;
	}
	100% {
		background-position: 0% 50%;
    box-shadow: 1px 1px 10px;
	}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}